.popup__form {
  background-color: #ffffff;
  max-width: 430px;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 730px) {
  .popup__form {
    box-sizing: content-box;
    padding: 34px 137px 37px;
  }
}

@media screen and (max-width: 570px) {
  .popup__form {
    padding: 25px 63px;
  }
}

@media screen and (max-width: 420px) {
  .popup__form {
    padding: 25px 22px;
  }
}
