.elements__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}
